body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content {
    flex: 1;
    padding: 20px;
}
.nav-item {
    text-align: center;
}
.nav-item i {
    display: block;
    font-size: 20px; 
    margin-bottom: 4px;
}
.nav-link.active i {
    color: rgb(55, 123, 211);
}
.nav-link.active {
    color: rgb(55, 123, 211) !important;
}
.nav-link i {
    color: rgb(168, 168, 168);
}
.nav-link {
    color: rgb(168, 168, 168);
}
.nav-link {
    border: none !important; /* Remove a borda */
}
.navbar-border {
    border-top: 1px solid rgb(199, 199, 199); /* Ajuste a espessura e a cor conforme necessário */
}
ul {
    background-color: white;
}
